fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.7.1
httpx==0.28.1
pystac-client==0.8.6
pystac==1.12.1
planetary-computer==1.0.0
odc-stac==0.3.11
xarray
rioxarray
shapely
pyproj==3.6.1
pandas
python-dotenv==1.0.1
diskcache==5.6.3
matplotlib
scipy
python-multipart==0.0.20
